// fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// variables
$bg-color: #f4f9fc; //  - greyish
// $bg-color: #fff; - white

$primary-yellow: #fdfd96;
$primary-grey: #504a4a;
$primary-red: #ff6961;
$footer-bg: #2c75c5;
$menu-grey: #383535;
$menu-blue: #1967d2;
$menu-lightblue: rgba(25, 102, 210, 0.28);
// css reset. Taken from Traversy media
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  // box sizing basically ensures that width of border etc. is taken into the width defined itself

  // border-style: dotted;
  // border-width: 1px;
}
